.card-container { 
  display: flex; 
  align-items: center;
  justify-content: center; 
}

.card-container .card-content {
  margin-inline: 3rem;
  border-radius: 0.8rem;
  overflow: hidden;
} 


.card-container .card{
  width: 150px;
  border-radius: 0.8rem;
  overflow: hidden;
} 
 
.card-container img {
  display: block;
  max-width: 100%;  
} 
 
.card-container .card-title{ 
  height: 30px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: ""; 
  display: none;
}

.swiper-button-prev,
.swiper-button-next { 
  position: absolute;
  width: initial;
  height: initial;
  font-size: 1.5rem;    
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}


@media screen and (min-width: 768px) {
  .card-content {
    margin-inline: 3rem;
  } 
}
 
