.card-container { 
  display: flex; 
  align-items: center;
  justify-content: center;   
  position: relative;
}

.card-container .card-content {
  margin-inline: 0rem;
  border-radius: 0.8rem;
  overflow: hidden;
} 


.card-container .card{
  width: 150px;
  border-radius: 0.8rem;
  overflow: hidden;
} 
  

.progress-bar.animate {
  animation: loading 3s ease-out forwards;
}

@keyframes loading {
  from { width: 0; }
}
 
.card-container .card-title{ 
  height: 30px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: ""; 
  display: none;
}

.swiper-button-prev,
.swiper-button-next { 
  position: absolute;
  width: initial;
  height: initial;
  font-size: 1.8rem;   
  color: var(--bs-emphasis-color) !important;   
 
}

.swiper-button-next {
  right: 0;  
  animation: float1 2s infinite ease-in-out;
}  
 
.swiper-button-prev { 
  left: 0;  
  animation: float2 2s infinite ease-in-out;
}  
 
.swiper-button-disabled  { 
  visibility: hidden !important;
}  
 
@keyframes float1 {
  0% {
    transform: translateX(0);
  } 
  50% {
    transform: translateX(10px);
  } 
  100% {
    transform: translateX(0);
  }
} 
 
@keyframes float2 {
  0% {
    transform: translateX(0);
  } 
  50% {
    transform: translateX(-10px);
  } 
  100% {
    transform: translateX(0);
  }
}


/* @media screen and (min-width: 768px) {
  .card-content {
    margin-inline: 3rem;
  } 
} */ 
  
.chart-container {
  position: relative;
  margin: auto;

}
 
