@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=League+Spartan:wght@100..900&family=Love+Ya+Like+A+Sister&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
  
 
:root {  
  --light-yellow: hsl(42, 94%, 55%);  
  --light-red: hsl(346, 100%, 54%); 
  --blue-violet:hsl(260, 100%, 67%);  
  --stock-green: #5ab27fce;
  --stock-green-hover: #5ab27f;   
   
  --text-white: #fff;
  --text-black: #0a0a0a;
  --text-color: #545454;
  --text-gray: #aba8b0;
  --text-gray-light: #484848;

  --ff-league: 'League Spartan', sans-serif;
  --ff-poppins: 'Poppins', sans-serif; 
  --ff-Love:"Love Ya Like A Sister", cursive;  
   
  --gradient: linear-gradient(-90deg, hsla(218, 80%, 90%, 0.36) 0%, hsla(214, 82%, 85%, 0.251) 50%, hsla(219, 79%, 85%, 0.108) 100%);

} 
 
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-size: 100%;
} 
 
body{  
    font-family: var(--ff-poppins);
}