.main-spinner {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: radial-gradient(farthest-side, var(--bs-primary) 94%, #0000) top/6px 6px no-repeat,conic-gradient(#0000 30%, var(--bs-primary));
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
    animation: main 1s infinite linear;
  }
  
  @keyframes main {
    100% {
      transform: rotate(1turn);
    }
  }
  